
.loginBox {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.loginBox_sub{
  border: 1px solid black;
  width : 350px;
  height : 450px;
}

.loginBox_logoArea{
  height: 20%;  
}

.loginBox_logoArea_logo{
  font-size: 30px;
}

.loginBox_inputArea{
}

.loginBox_inputArea input{
  width: 100%;
}

.loginBox_inputArea button {
  border: 1px solid black;
  border-radius: 7px;
  padding: 3px 8px 3px 8px;
  width: 250px;
}

.loginBox_inputArea_input-container {
  position: relative;
  padding: 3px 8px 3px 8px;
  margin: 0 47px 0 47px;
  width: 220px;
}

.loginBox_inputArea_input-container input {
  width: 100%;
  height: 20px;
  padding: 3px 8px 3px 8px;
}

.loginBox_inputArea_label , .loginBox_inputArea_smallLabel{
  pointer-events: none; 
  position: absolute;
  left: 10px;
  top: 15px;
  padding: 0 6px 0  6px;
  font-size: 12px;
  color: #777;
  transition: top 0.3s, font-size 0.3s;
}

/* 작게 스타일링된 placeholder */
.loginBox_inputArea_smallLabel{
  position: absolute;
  top: 8px;
  font-size: 10px; /* 작은 폰트 크기 */
}

.no-touch{
  width: 100%;
  height: 100%;
}


.mgT20{
  margin-top: 20px;
}
.mgT16{
  margin-top: 16px;
}
.mgT12{
  margin-top: 12px;
}
.mgT6{
  margin-top: 6px;
}
.mgT4{
  margin-top: 4px;
}
.mgT2{
  margin-top: 2px;
}